footer{
    background-color: var(--branco-frio);
    box-shadow: -5px -5px 15px rgba(177, 176, 176, 0.233);
    height: 100%;
}

@media (min-width: 1500px) and (min-height: 935px){
    footer {
        height: 25vh;
    }
}

@media (min-width: 1500px) and (max-height: 935px){
    footer {
        height: 23vh;
    }
}
@media (min-width: 1500px) and (max-height: 850px){
    footer {
        height: 20vh;
    }
}

#ul{
    padding-top: 30px;
    max-width: 1500px;
    margin: auto;
}

#padding_list{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

#list{
    background-color: white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.205);

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 11px;
    padding-bottom: 11px;

    text-align: center;
    font-family: 'Oswald', sans-serif;

    border-radius: 15px;
}

#button_carrinho{
    display: flex;
    justify-content: center;

    padding-bottom: 30px;
}

#buy-btn{
    background-color: #FFA34F;

    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;

    width: 10rem;
    height: 3rem;
    border: solid 2px #FFA34F;
    border-radius: 15px;

    cursor: pointer;
    outline: none;
    
}

#buy-btn:hover{
    transition: all 0.3s ease;
    border: solid 2px #FFA34F;
    background-color: whitesmoke;
    color: #FFA34F;
}