#padding_list{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;


}

#list{
    background-color: #f8f7f7;
    border: solid 2px red;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 8px;
    padding-bottom: 8px;

    text-align: center;
    font-family: 'Oswald', sans-serif;

    border-radius: 15px;
}

#button_carrinho{
    display: flex;
    justify-content: center;

    padding-bottom: 30px;
}

#buy-btn{
    background-color: #FFA34F;

    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;

    width: 130px;
    height: 40px;
    border: solid 2px #FFA34F;
    border-radius: 15px;

    cursor: pointer;
    outline: none;
    
}

#buy-btn:hover{
    transition: all 0.3s ease;
    border: solid 2px #FFA34F;
    background-color: whitesmoke;
    color: #FFA34F;
}