footer{
    background-color: var(--branco-frio2);
    box-shadow: 0 -10px 15px rgba(177, 176, 176, 0.233);
    height: fit-content;
}

#div_clear_button{
    display: flex;
    justify-content: flex-end;

    padding-top: 1rem;
    padding-right: 6rem;
}

#clear_button{
    height: 3rem;
    width: 3rem;
    border-radius: 0.75rem;
    border: 2px solid var(--vermelho);
    background-color: transparent;

    font-size: 1.5em;
    color: var(--vermelho);

    transition: all 0.3s ease;
    cursor: pointer
}

#clear_button:hover{
    
    background-color: var(--vermelho);
    color: white;
}

.close_clear{
    display: none;
}

#ul{
    padding-top: 30px;
    max-width: 1500px;
    margin: auto;
}

#padding_list{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

#list{
    background-color: white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.205);

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 11px;
    padding-bottom: 11px;

    text-align: center;
    color: var(--laranja-escuro);
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;

    border-radius: 15px;
}

#button_carrinho{
    display: flex;
    justify-content: center;
}

#buy-btn{
    background-color: var(--laranja);

    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;

    width: 10rem;
    height: 3rem;
    border: solid 2px var(--laranja);
    border-radius: 15px;

    cursor: pointer;
    outline: none;

    margin-bottom: 1rem;
    
}

#buy-btn:hover{
    transition: all 0.3s ease;
    border: solid 2px var(--laranja);
    background-color: whitesmoke;
    color: var(--laranja);
}