
main {
    width: 100%;
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, var(--branco-quente), var(--branco-frio));
}

#profit { 
    grid-area: profit-card; 
    width: 730px; 
    padding: 32px 0;
}

#sold-units { 
    grid-area: sold-card; 
    width: 730px; 
    padding: 32px 0;
}

#table { 
    grid-area: table-card; 
    min-width: 1500px; 
    padding: 32px 0px;
}

.dashboard-section {
    display: grid;
    grid-template-areas: 
        'profit-card sold-card'
        'table-card table-card';
    gap: 2rem;
    max-width: 1500px;
    width: 90%;
    padding-bottom: 3rem;   
    row-gap: 4rem;
}

.itemCard {
    width: 85%;
    background-color: white;
    padding: 2rem;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0rem;
    border-radius: .75rem;
    box-shadow: 4px 4px 20px rgba(128, 125, 125, 0.219);
    color: var(--laranja-escuro);
}

.item-card-texts {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3rem;
}

.item-card-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.item-card-buttons > div {
    font-size: 1.5em;
}

h2 {
    padding-bottom: 1rem;
    font-size: 2em;
    color: var(--laranja);
    font-weight: bold;
}

p {
    font-size: 1.5em;
}

table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
}

table th {
    font-weight: bolder;
}

table tr:nth-child(even){
    background-color:  var(--branco-frio);
}

table tr:hover {
    background-color: #ddd;
}

td {
    text-align: center;
    padding-top: .3rem;
}