#header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--laranja);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 60px 20px 80px;
    box-shadow: 5px 5px 15px rgba(119, 63, 31, 0.568);
}

#logo{
    width: 204px;
    height: 64px;
}

#total{
    font-family: 'Oswald', sans-serif;
    color:whitesmoke;
    font-size: 22pt;
}





#text-search{
    border: 0;
    border-radius: 24px;
    width: 600px;
    height: 35px;

    display: flex;
    justify-content: space-between;
}

#txt-search{
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:40px;
    width:400px;

    color: #575555;

    outline: none;
    padding-left: 30px;
}

#search-btn{
    border:none;
    height:40px;
    border-radius:0 15px 15px 0;
    width:70px;
    background: white;

    cursor: pointer;
}
